html,body{
    height: 100%;
    width:  100%;
    background-color: lightblue;
}
#contenedor{
    margin: auto;
    width: 440px;
    background-color: black;
}
.cubo{
    width: 100px;
    height: 100px;
    float: left;
    background-color: red;
    margin: 2px;
    border: 2px solid black;
    text-align: center;
    
}
